.question-box {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  height: 130px;
  width: 60%; 
  max-width: 800px; 
  margin: 20px auto; 
  padding: 20px;
  background: linear-gradient(to bottom, #f4a261, #e76f51);
  border-radius: 50px; /* More rounded shape */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.question-text {
  color: #fff; 
  font-size: 1.4rem;
}
