.answer-box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    width: 60%; 
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px;
    background: linear-gradient(to bottom,#e76f51, #f4a261);
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
  
.answer-text {
    color: #f4a261; 
    font-size: 1.4rem;
    visibility: hidden;
}
  